
<!DOCTYPE html>
<html lang="en">
<head>
    
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Kanhaiya Blogs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            {# ye use check krne ke lye kr rhe h ki agr hmara user login hai toh ye show kare {{current_user.username}} , postblog,logout button show kare niche mai else lkhe hai mtla agr login ny hai toh register,login butthon show kre #}
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/">{{current_user.username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blogpost">Post Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
                {# jaise yha pe edit button bnye hai or ye /edit lkhe hai ki sike through hm url m fetch krnge particular id ke saath dkho app,py mai edit ka url bnye hai ki agar edit krnge toh kya hoga edit pe click krnge toh konse url pe jyga#}
                <a class="nav-link btn btn-success mx-3" href="/edit/{{blog.blog_id}}">Edit</a>
              </li>
              
              <li class="nav-item">
                {# jaise yha pe delete button bnye hai or ye /delete lkhe hai ki sike through hm url m fetch krnge particular id ke saath dkho app,py mai delete ka url bnye hai ki agar delete krnge toh kya hoga delete pe click krnge toh konse url pe jyga#}
                <a class="nav-link btn btn-danger" href="/delete/{{blog.blog_id}}">Delete</a>
              </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    <!-- hmlog yha pe simple blog ka jo detail hai jaise uska title,content,author vo display krwa rhe h ye page mai -->
    {#
    {{blog.title}}<br>
    {{blog.content}}<br>
    {{blog.author}}<br>
    {{blog.pub_date}}<br>
    #}


    <div class="container">
        <h1 class='text-center'>Blog Detail</h1>
         <div class="col-md-6 my-5">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" >
          <div class="col p-4 d-flex flex-column position-static">
            
            <h3 class="mb-0">{{blog.title}}</h3>
            <div class="mb-1 text-body-secondary">{{blog.pub_date}}</div>
            <p class="card-text mb-auto">
              {{blog.content}}
            </p>
            <h4 class="mb-0 my-5">Author:-{{blog.author}}</h4>
            
            
            
            </a>
          </div>
        </div>
       </div>    
    </div>
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>